body{
	background-color: lightgray;
}
table{
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
	caption-side: top;
}
th, td{
	border:1px solid gray;

}
/* fondo para las filas impares */
table tr:nth-child(odd){
	background-color: white;
}
/* fondo para las filas pares */
table tr:nth-child(even){
	background-color: lightgreen ;
}
table tr th{
	background-color: green;
	color: white ;
}
table tr:hover{
	background-color: green;
	color: white;
}